/*banner*/
.banner_about {
	height: 500px;
	background-image: url("C:/Users/Night3/Documents/b3nc-lansang-joseph/csp1/img/banner_about.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: bottom;
}

.banner_contact {
	height: 500px;
	background-image: url("C:/Users/Night3/Documents/b3nc-lansang-joseph/csp1/img/team.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}

.banner_projects {
	height: 500px;
	background-image: url("C:/Users/Night3/Documents/b3nc-lansang-joseph/csp1/img/bsilangan.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}

/*carousel*/
.item {
	height: 500px;
}

.item img {
	min-width: 100%;	
}

#banner3 {
	min-width: 100%;
	position: relative;
	bottom: 250px;
}

/*about*/
.about {
	text-align: center;
	background-image: url("https://scontent.fmnl9-1.fna.fbcdn.net/v/t1.0-9/18922054_1408627932550592_5263476913666872176_n.jpg?oh=1abd185a1c7022966755b76b8a5e94b0&oe=5A9A06B6");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 25px;
}

.about-box {
	background: rgba(140, 199, 57, 0.9);
	padding: 75px;
}

.glyphicon {
    font-size: 50px;
}
/*about*/


/*testimonials*/
.testimonials {
/*	border: solid 1px black;*/
	text-align: center;
	font-style: italic;
}

.testi-profile {
	padding: 25px;
}

.testi-caption {
/*	border: solid 1px black;*/
	padding: 25px;
}

blockquote {
	font-size: 14px;
}

/*testimonials*/

/*social impact*/
.social-impact {
/*	border: solid 1px black;*/
	text-align: center;
	background-image: url("https://scontent.fmnl9-1.fna.fbcdn.net/v/t1.0-9/19424284_1422888151124570_2602603949267249622_n.jpg?oh=51695fad94939ea01381334aab5c972e&oe=5A957527");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.social-impact-box {
	padding: 50px;
	background: rgba(33, 190, 222, 0.9);
}

.social-content {
	border: solid 3px white;
	padding: 15px;
}

/*social impact*/

/*footer*/
.footer	{
	height: 100px;
	padding: 25px;
	background-color: #085DAD;
	color: white;
	margin-top: 25px;
}

#footer-social-media {
	text-align: right;
}
/*footer*/





/*media*/

.media {
	background-color: #ADB6B5;
}

/*media*/

/*colorscheme https://www.colorcombos.com/color-schemes/137/ColorCombo137.html*/