/*banner*/
.banner_about {
	height: 600px;
	background-image: url("../img/banner_about.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: bottom;
}

.banner_contact {
	height: 600px;
	background-image: url("../img/team.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}

.banner_projects {
	height: 600px;
	background-image: url("../img/bsilangan.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}


/*carousel*/
.banner {
  width: 100%;

}
.carousel-inner{
  width:100%;
  max-height: 600px;
}


/*about*/
.about {
	text-align: center;
/*	background-image: url("../img/bsilangan.jpg");*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 25px;
	overflow: hidden;
}

.about-box {
/*	background: rgba(140, 199, 57, 0.9);
	padding: 75px;*/
/*	border: 1px solid black;*/
	padding: 25px;
	width: 370px;
	height: 200px;
	overflow: hidden;
	margin: 10px;
	background-color: #8CC739;
	position: relative;
	opacity: 0.9;
}

.glyphicon {
    font-size: 50px;
}
/*about*/


/*testimonials*/
.testimonials {
/*	border: solid 1px black;*/
	text-align: center;
	font-style: italic;
}

.testi-profile {
	padding: 25px;
}

.testi-caption {
/*	border: solid 1px black;*/
	padding: 25px;
}

blockquote {
	font-size: 14px;
}

/*testimonials*/

/*social impact*/
.social-impact {
/*	border: solid 1px black;*/
	text-align: center;
	background-image: url("../img/banner.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.social-impact-box {
	padding: 50px;
	background: rgba(33, 190, 222, 0.9);
}

.social-content {
	border: solid 3px white;
	padding: 15px;
}

/*social impact*/


.container {
	margin-top: 25px;
}

.project-wrapper h2{
	color: white;
}

.project-box {
	border: 1px solid black;
	padding: 0;
	width: 350px;
	height: 300px;
	overflow: hidden;
	margin: 15px;
	background-color: black;
	position: relative;
}

.project-box img {
	height: 100%;
	opacity: 0.5;
}

.project-box h2 {
   float: left;
   position: absolute;
   left: 10px;
   top: 0px;
   z-index: 1000;
   padding: 5px;
   color: #FFFFFF;
   font-weight: bold;
}




/*footer*/
.footer	{
	height: 100px;
	padding: 25px;
	background-color: #085DAD;
	color: white;
	margin-top: 25px;
}

#footer-social-media {
	text-align: right;
}
/*footer*/



/*colorscheme https://www.colorcombos.com/color-schemes/137/ColorCombo137.html