* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body {
	background-color: grey;
}

.wrapper {
	background-color: white;
	width: 80vw; /*viewport width*/
	height: 100vh; /*viewpoer heigh*/
	margin: 0 auto;

}